@import "../../../scss/variable";

.sample-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
}

.sample-text {
  color: black;
  font-size: 20px;
  text-align: center;
}

.sample-close {
  text-align: center;
}

.sample-close button {
  width: 200px;
  height: 200px;
  color: tomato;
}

.login-modal-container {
  min-height: 256px;
  height: 100%;

  .row {
    height: 100%;
  }

  .right-side {
    height: 100%;

    .phone-number {
      position: absolute;
      top: 50%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);

      input {
        width: 100%;
        height: 100%;
      }
    }

    .input-verify-code{
      margin-right: 1%;

      input{
        text-align: left;
      }
    }

  }

  .left-side {
    background-color: $color-base-site;
    border-top-left-radius: $border-radius-modal;
    border-bottom-left-radius: $border-radius-modal;
    width: 100%;
    height: 100%;
    position: relative;

    .logo-holder {
      background-image: url("../../../assets/images/img_holy_circle.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      -webkit-transform-origin: 50% 50%;
      -ms-transform-origin: 50% 50%;
      transform-origin: 50% 50%;
      -webkit-animation: progress-indef 140s linear infinite;
      animation: progress-indef 140s linear infinite;
    }

    .logo-image-holder{
      background-image: url("../../../assets/images/img_motahari_name.png");
      background-size: contain;
      background-position: center;
      background-repeat: no-repeat;
      width: 100%;
      height: 100%;
      position: absolute;
      top: -11%;
      left: 0;
    }

    .close-container {
      background-color: $color-white;
      position: absolute;
      left: 0;
      top: 0;
      border-top-left-radius: $border-radius-modal;
      padding: 1em;
      color: $color-red;
    }
  }
}

.input-code {
  background-color: white;
  border-color: $border-color;
  outline: 0;
  box-shadow: 0 0 0 .2rem transparent;
}
.input-code:focus{
  border: 1px $color-base-site solid;
  -webkit-box-shadow: 0 0 0 0.2rem #00579433;
  box-shadow: 0 0 0 0.2rem #00579433;
}
/*.input-code{
  border: 1px transparent solid;
}*/

@-webkit-keyframes progress-indef {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}

@keyframes progress-indef {
  0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
}
