@import "../../../scss/variable";

.rate-box-container {
  background-color: white;

  .icon-position {
    position: absolute;
    top: -13px;
    right: -10px;

    .icon-container {
      background-color: $color-base-site;
      width: 60px;
      height: 60px;
      border-radius: 50%;
      position: relative;

      span {
        font-size: 30px;
        color: white;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
      }
    }
  }

  .date-details {
    color: $color-text-description;

    .icon-date:before {
      color: $color-base-site;
    }
  }

  .price-details {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .icon-funds:before {
      color: $color-base-site;
    }
  }
}
