@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";
@import "~bootstrap/scss/mixins";

$color-red: #FF0000;
$color-green: #00FF00;
$color-blue: #0000FF;
$color-white: white;
$color-bottom-footer: #445660;
$color-middle-footer: #213845;
$color-green-text: #14afa8;
$color-green-text-hover: #149e97;
$color-base-site: #005794;
$color-input: #e0e0e0;
$color-input-border: #737373;
$border-radius-modal: 1em;
$line-height: 1.7;
$color-text-main: #000;
$color-text-dark: #2a292e;
$color-text-description: #707070;
$color-text-disable: #9d9d9d;
$color-text-blue: #4d95fb;
$color-bg-light: #f3fffe;
$font-family-1: 'iransfm', sans-serif;
$font-size-large: 1.4em;
$font-size-medium: 1.2em;
$font-size-small: 0.8em;
$font-size-very-small: 0.5em;
$body-bg-color: #f5f5f5;
$box-border: #939393;
$public-border-color: #9d9d9d6e;
$main-padding-bottom: 35em;
$gray-bg-color: #f4f4f4;
$quiz-bg: #fbfaf4;
$quiz-option-bg: #bffcf9;
$quiz-option-hover: #7decce;
$quiz-text-color: #2a292e;
$quiz-right-box-bg: #e6e6e6;
$quiz-box-border: #9d9d9d6e;
$color-text-golden: #fbb537;
$color-underline-title: #fbb22f;
$button-disable-color: #9d9d9d;
$button-blue-color: #005794;
$button-blue-color-hover: #00497b;
$button-blue-color-active: #00385f;
$button-buy-color: #4c83c5;
$button-buy-color-hover: #3d679a;
$button-buy-color-active: #325580;
$title-text-color: #226e99;
$title-text-color-hover: #1b5779;
$button-red-color: #b00020;
$button-red-hover: #94002114;
$box-list-border-radius: 0.2em;
$setting-book-page-bg: #e6e6e6;
$book-index-main-title-bg: #fbf9ee;
$book-index-main-bottom-border: #e9e9e9;
$public-border-color: #9d9d9d6e;
$color-text-dark-green: #008079;
$expire-color: #df4672;



